* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Tomorrow', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 250px;
    padding: 20px;
    background-color: #EBF5FF;
    position: fixed;
    top: 60px;
    height: calc(100% - 60px);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    width: 100%;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #027efa;
}

.sidebar .profile-image {
    width: 86px;
    height: 114.5px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar .sidebar-info {
    text-align: center;
}

.sidebar .sidebar-info h2 {
    font-family: 'Michroma', sans-serif;
    margin-bottom: 10px;
}

.main-content {
    margin-left: 300px;
    padding: 40px;
    width: calc(75% - 40px);
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.section .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.course-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.course-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.section h2 {
    font-family: 'Syne', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.section form {
    display: flex;
    flex-direction: column;
}

.section label {
    margin-bottom: 5px;
}

.section input, .section textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.section button {
    padding: 10px;
    background-color: #027efa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
    width: calc(100% - 250px);
    margin-left: 250px;
}

/* Media Query for Mobile Responsiveness */
@media (max-width: 768px) {
    .sidebar, .main-content {
        width: 100%;
        position: relative;
        margin-left: 0;
    }

    .footer {
        width: 100%;
        margin-left: 0;
    }
}
